@media only screen and(min-width:576px) 
{/* Code for mobile devices less than 576px*/ 
    body,html { 
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0%;
    height: 100%;
    display:grid;
    font-weight: 900;
    
    }
}

@media only screen and(min-width:768px) 
{/* Code for medium deices 768px and up*/  
    body,html { 
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0%;
    height: 100%;
    display: grid;
    font-weight: 900;
   
    }
}

@media only screen and(min-width:1200px) 
{/* Code for large devices 1200px and up*/ 
    body { 
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0%;
    height: 100%;
    display:grid;
   
}
}





html, body{      
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0%;
    height: 100%;
    display: block;
    font-weight: 600;
   
}
@keyframes animation{
    from{background-color: rgba(211, 211, 211, 0.192);}
    to{background-color: rgba(211, 211, 211, 0.795);}
}
#headertxt{
    animation-name: animation;
    animation-duration: 7s;
}
header{
    background-color:rgba(211, 211, 211, 0.795);
    padding: 10px;
    padding-left: 0px;
    text-align: center;
    text-decoration: underline;
}
.btn {
    background: lightslategray;
    border-color: black;
    

}
#about-section{
    width: 100%;
    display:inline-block;
        border: 10px, solid black;
        margin: 0px;
        padding: 5px;
}
.background1{
    background:rgb(211, 211, 211) url(https://supersportunited.co.za/media/1416/mtn8-q.jpg?anchor=center&mode=crop&width=750&height=450&rnd=132155304680000000);  
    background-size: 100%;  
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    font-weight: 800;

}



.wrapper{
    background-color: lightgrey;
    display: inline-flex;
    height: auto;
    width: 100%;
   }


  
  @keyframes fade-in-top {
    0%{
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px);
      opacity: 0;
    }
    100%{
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
#profanim{
    animation-name: fade-in-top;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    
}


.Menu{
   padding: 20px;
    text-align: center;
    height: 50px;
   
}
.Content-Info{
    width: 750;
    padding: 2%;
    
}

.title{
    font-size: 3em;
    color: black;
    text-align: center;
    text-decoration: underline;

}
.menu-ul{
    padding-left: 0%;
}

   .links{
    color: black;
    font-weight: 650;
    text-decoration: none;
}
a.links:hover {
    color:whitesmoke;
}


#interests-section, #Skills{
   
    float: left;
    width: 50%;
   }
#experience-section{
   clear: both;
}
.set-width{
    width: 400px;
    display:inline-flex;
}
.ul-list{
    margin: 50px;
    list-style: none;
    line-height: 1.2;
    
}
.ol-list{
    list-style: none;
    line-height: 1.2;
    margin: 50px;
    
}
.ul-list li:first-child{
    font-weight: 1000;
    
}
.padding{
    padding: 10px;
}
.inline-flex{
    display: inline-flex;
}
    .box{
        background-color: rgb(221, 227, 235);
        color: black;
        width: 75%;
        display:inline-block;
        height: 100%;
        border: 10px, solid black;
        margin: 0px;
        padding: 5px;
      }
    
      
   
        .footer{
            background-color: lightskyblue;
            text-align: center;
            clear: both;
            padding: 15px;
            width: 100%;
            
            
            
        }
        .get-in-touch {
            max-width: 100%;
            margin: auto;
            position: relative;
            background-color: rgba(211, 211, 211, 0.623);
           
          
          }
          .get-in-touch .title1 {
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 1em;
            line-height: 15px;
            padding-bottom: 48px;
               color: #5543ca;
              background: #5543ca;
              background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
              background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
              background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
              -webkit-background-clip: text !important;
              -webkit-text-fill-color: transparent !important;
          }
          
          .contact-form .form-field {
            position:relative;
            margin: 32px 0;
          }
          .contact-form .input-text {
            display: block;
            width: 50%;
            height: 36px;
            border-width: 0 0 2px 0;
            border-color: #5543ca;
            font-size: 18px;
            line-height: 26px;
            font-weight: 400;
          }
          .contact-form .input-text:focus {
            outline: none;
          }
          .contact-form .input-text:focus + .label,
          .contact-form .input-text.not-empty + .label {
            -webkit-transform: translateY(-24px);
                    transform: translateY(-24px);
          }
          .contact-form .label {
            position: absolute;
            left: 20px;
            bottom: 11px;
            font-size: 18px;
            line-height: 26px;
            font-weight: 400;
            color: #5543ca;
            cursor: text;
            transition: -webkit-transform .2s ease-in-out;
            transition: transform .2s ease-in-out;
            transition: transform .2s ease-in-out, 
            -webkit-transform .2s ease-in-out;
          }
          .contact-form .submit-btn {
            display: inline-block;
            background-color: #000;
             background-image: linear-gradient(125deg,#a72879,#064497);
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 16px;
            padding: 8px 16px;
            border: none;
            width:200px;
            cursor: pointer;
          }

